.metricsTab{
    list-style: none;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0px;
    margin-bottom: 11px;
    
}

.metricsTab li{
    padding: 8px 11.25px;
    border-radius: 20px;
    text-align: center;
    color: #aeb8c4;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
}

.metricsTab li.active{
    background-color: #aeb8c4;
    color: #fff;
}